<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="log_reg.css">
    <title>Reset Password</title>
  
</head>
<body>

   <%- include('../components/navbar') %>

    <div class="main-content">
        <div class="form-container">
            <h2>Reset Password</h2>
            
            <form action="/resetPassword/<%-email%>/<%-otp%>" method="POST">
                
                

                <div class="form-group">
                  <input type="text" name="newPassword" placeholder="Enter New Password">
                   <input type="text" name="confirmPassword" placeholder="Enter Password Again">
                </div>

               

                <button type="submit" class="submit-btn" value="Reset Password">Reset Password</button>
              
                
            </form>
        </div>
    </div>

</body>
</html>