<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="log_reg.css">
    <title>Verify OTP</title>
  
</head>
<body>

   <%- include('../components/navbar') %>

    <div class="main-content">
        <div class="form-container">
            <h2>Verify OTP</h2>
            
            <form action="/verifyOTP" method="POST">
                
                

                <div class="form-group">
                  <input type="number" name="OTP" placeholder="OTP">
                </div>

               

                <button type="submit" class="submit-btn" value="Verify OTP">Verify OTP</button>
              
                
            </form>
        </div>
    </div>

</body>
</html>